/* * {
    border-style: solid;
    border-color: red;
} */

body {
    height: 100vh;
    margin: 0;
    /* background-color: #1f2937; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-block, 
.footer {
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 100px 0;
}
.header {
    /* margin: 0 auto; */
    width: 70%;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 80px;
    /* align-items: center; */
}

.menu {
    display: flex;
    justify-content: space-between;
}

a {
    margin: 0;
    text-decoration: none;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.header .right {
    display: flex;
    gap: 30px
}

.sign-up {
    display: flex;
    gap: 20px;
    width: 80%;
    align-self: center;
    align-items: center;
}

div.hook {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

p {
    margin: 0;
}

.big-text {
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
}

.hook button {
    margin-right: auto;
}

.hook.img {
    height: 200px;
    width: 400px;
    background-color: gray;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.second-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    padding-bottom: 100px;
}

.second-block h2 {
    color: #1f2937;
    width: 100%;
    text-align: center;
    font-size: 24pt;
    font-weight: 700;
}

.img-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    gap: 10px;
}

.img-placeholder {
    height: 150px;
    width: 150px;
    border-color: blue;
    border-style: solid;
}

.third-block {
    width: 100%;
    background-color: #e5e7eb;
}

figure {
    font-size: 24pt;
    font-style: italic;
    width: 60%;
    margin: 0 auto;
    padding: 100px;
}

blockquote {
    margin: 20px 0;
}

figcaption {
    font-size: large;
    font-style: normal;
    text-align: right;
    font-weight: 600;
}

.fourth-block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.fourth-block .container {
    width: 70%;
    background-color: #3882f6;
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.call-to-action {
    color: white;
}

.fourth-block h2 {
    margin: 0;
}

.fourth-block button {
    margin: auto 0;
}

.footer {
    color: white;
    padding: 20px;
}